body { background-color: rgb(115, 134, 197); }
h1 { font-size: 72px; color: rgb(6, 8, 26); background-color: rgb(253, 240, 209); }
h2 { font-size: 48px; color: rgb(22, 25, 53); background-color: rgb(153, 172, 235);}
h3 { font-size: 24px; background-color: rgb(131, 153, 225);}
div { font-size: 18px; }
p { font-size: 18px;}
span { font-size: 18px; }
ul { font-size: 18px; }
ol { font-size: 18px; }
li { font-size: 18px; }
a { color: rgb(213, 255, 254);}
img { width: 50ch; height: 50ch; background-color: rgb(213, 255, 254);}