body {
  background-color: #7386c5;
}

h1 {
  font-size: 72px;
  color: #06081a;
  background-color: #fdf0d1;
}

h2 {
  font-size: 48px;
  color: #161935;
  background-color: #99aceb;
}

h3 {
  font-size: 24px;
  background-color: #8399e1;
}

div {
  font-size: 18px;
}

p {
  font-size: 18px;
}

span {
  font-size: 18px;
}

ul {
  font-size: 18px;
}

ol {
  font-size: 18px;
}

li {
  font-size: 18px;
}

a {
  color: #d5fffe;
}

img {
  width: 50ch;
  height: 50ch;
  background-color: #d5fffe;
}
